{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title_block %}Change Bio{% endblock %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}
{% block body_block %}
<div class="row" id="form">
    <div class="col-xs-12">
        <p style="text-align: center; margin-top: 50px;">Update your Bio:</p>
    </div>
    <form action="{% url 'change_bio' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="col-xs-4 col-xs-offset-4">{% bootstrap_field field %}</div>
        {% endfor %}
        {% buttons %}
        <div class="col-xs-12 text-center"><button class="btn btn-primary" type="submit">Submit!</button></div>
        {% endbuttons %}
    </form>
</div>
{% endblock %}