{% extends 'base.html' %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title_block %}Your Home{% endblock %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}
{% block modal_block %}
<div id="deletePost" class="modal" tabindex="-1" role="dialog" aria-labelledby="deletePostLabel" aria-hidden="true">
	<div class="model-dialog">
		<div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 id="deletePostLabel" class="modal-title">Delete Post?</h4>
            </div>
            <div class="modal-body">
            	<p>This is some sample text?!</p>
            </div>
        </div>
	</div>
</div>
{% endblock %}
{% block body_block %}
<h1>{{ user.get_full_name }}</h1>
<div class="row">
    <div class="row space-10"></div>
    <div id="post_column" class="col-xs-5 col-xs-offset-1">
        {% if posts %}
        {% for post in posts %}
        <div class="panel panel-primary" id="post{{ post.id }}">
            <div class="panel-heading">
                <button type="button" class="close post-delete deletePost" data-postId="{{ post.id }}">{% bootstrap_icon 'remove' %}</button>
                <h3 class="panel-title">{{ post.owner.get_full_name }}</h3>
                <h5 class="panel-subtitle">{{ post.time|date:"DATETIME_FORMAT" }}</h5>
            </div>
            <div class="panel-body">
                <p>{{ post.body|safe }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <p>There are no posts related to yours.</p>
        {% endif %}
    </div>
    <div class="col-xs-4 col-xs-offset-1">
        <form id="post_form" action="{% url 'home_page' %}" method="POST">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% bootstrap_form_errors form %}
            {% bootstrap_field form.body layout='inline' %}
            {% buttons %}
            <button class="btn btn-primary" type="submit">Post!</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
$(document).ajaxError(function(event, jqxhr, settings, thrownError){
    alert(thrownError);});
$('.deletePost').click(function(){
    var postId;
    postId = $(this).attr("data-postId");
    $.get('{% url "delete_post" %}', {'post_id': postId}, function(data){
        $('#post'+postId).slideUp("slow", function(){
            $('#post'+postId).remove();
            if (data != "success") {
                $('#post_column').html(data);
            }
            });
    });
});
</script>
{% endblock %}
