body{
    padding-top: 40px;
}

.jumbotron h1{
    color: #DF691A;
    font-size: 100px;
}

.container{
    width: 100%;
}

a.form-helper {
    position: absolute;
    top: 8px;
    right: 90px;
    font-size: 17px;
    color: #6464a0;
}

a.btn.btn-primary {
    font-size: 40px;
}

.space-10{
    height: 20px;
    width: 100%;
}

.post-style{
    position: relative;
    border-style: solid;
    border-width: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-color: #DF691A;
}

.panel-heading{
    position: relative;
}

.panel-subtitle{
    font-size: 13px;
    margin-top: 2px;
    margin-bottom: 0px;
    color: inherit;
}

.post-delete{
    font-size: 10px;
    position: absolute;
    right:  10px;
    top:    7px;
    color:  #FFFFFF;
}

.post-delete:hover{
    color: #FFFFFF
}

.model-dialog{
    position: fixed;
    margin-top: -250px;
    margin-left: -150px;
    height: 500px;
    width: 300px;
    top: 50%;
    left: 50%;
}

.post-style h3{
    margin-top: 10px;
}

.drop-button{
    padding: 0px !important;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.carousel-caption > p {
    color: #000000;
    text-shadow: 2px 2px 4px #FFFFFF;
}

.carousel-caption > h3 {
    color: #000000;
    text-shadow: 2px 2px 4px #FFFFFF;
}
