{% load bootstrap3 %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
        <title>The Social Network - {% block title_block %}Django Test Project{% endblock %}</title>
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=1 %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        {% block head_block %}{% endblock %}
	</head>
	<body>
    {% block modal_block %}{% endblock %}
    {% include "navbar.html" %}
        <div class="container">
            {% block body_block %}{% endblock %}
        </div>
        {% block javascript %}{% endblock %}
	</body>
</html>
