{% extends 'base.html' %}
{% load staticfiles %}
{% block head_block %}
<link rel="stylesheet" href="{% static 'main.css' %}">
{% endblock %}

{% block body_block %}
<div class="row">
    <div class="jumbotron">
        <h1 class="text-center">The Social Network</h1>
        <img class="center-block" src="{% static 'tsn.svg' %}" height="300px" width="300px">
    </div>
    <div class="text-center">
        <a href="{% url 'login_page' %}" class="btn btn-success" style="font-size:40px">Login</a>
        <a href="{% url 'new_user' %}" class="btn btn-primary">Create a New User</a>
    </div>
</div>
{% endblock %}
